.main-test-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: wheat;
}

h3 {
  color: #333;
}

.question {
  margin-bottom: 15px;
  text-align: left;
}

.option {
  display: flex;
  align-items: center;
  margin: 8px;
  padding: 8px;
  background: #cedcf4;
  border-radius: 5px;
  font-size: 12px;
}

.option:hover {
  background: #889cbc;
}

.main-test-card-mid input[type="radio"] {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.main-test-card-lower {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.main-test-card-mid button {
  height: 35px;
  width: 200px;
  border-radius: 15px;
}
.main-test-card-mid p {
  font-size: 20px;
}
.main-test-card-lower button {
  height: 35px;
  width: 100px;
  border-top-left-radius: 10px;
}

.main-test-card-lower button {
  height: 30px;
  width: 100px;
  border-top-left-radius: 8px;
  background-color: #cedcf4;
}


.test-screen {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.test-screen-question {
  width: 70%;
}

.test-screen-metrics {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.test-screen-metrics-data {
  display: grid;
  grid-template-columns: 10rem 10.03rem;
  grid-template-rows: 7rem 7rem;
}