.main-test-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: wheat;
}

h3 {
  color: #333;
}

.question {
  margin-bottom: 15px;
  text-align: left;
}

.option {
  display: flex;
  align-items: center;
  margin: 8px;
  padding: 8px;
  background: #cedcf4;
  border-radius: 5px;
  font-size: 12px;
}

.option:hover {
  background: #889cbc;
}

.main-test-card-mid input[type="radio"] {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.main-test-card-lower {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.main-test-card-mid button {
  height: 35px;
  width: 200px;
  border-radius: 15px;
}
.main-test-card-mid p {
  font-size: 20px;
}
.main-test-card-lower button {
  height: 35px;
  width: 100px;
  border-top-left-radius: 10px;
}

.main-test-card-lower button {
  height: 30px;
  width: 100px;
  border-top-left-radius: 8px;
  background-color: #cedcf4;
}

.test-screen {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.test-screen-question {
  width: 70%;
}

.test-screen-metrics {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.test-screen-metrics-data {
  display: grid;
  grid-template-columns: 10rem 10.03rem;
  grid-template-rows: 7rem 7rem;
}

/* Modal Title */
.result-title {
  font-weight: 600;
  color: #2563eb;
}

/* Body */
.result-body {
  text-align: center;
  padding: 20px;
}

/* Content */
.result-content h3 {
  margin-bottom: 10px;
  color: #1e293b;
}

/* Score Highlight */
.score {
  font-size: 34px;
  font-weight: 700;
  color: #3b82f6;
  margin: 10px 0;
}

/* Message */
.result-message {
  font-size: 14px;
  color: #64748b;
}

/* Footer */
.result-footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Buttons */
.btn-primary-custom {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

.btn-primary-custom:hover {
  background: #2563eb;
}

.btn-outline {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #3b82f6;
  background: transparent;
  color: #3b82f6;
  cursor: pointer;
}

.btn-outline:hover {
  background: #3b82f6;
  color: white;
}

.btn-secondary-custom {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  background: #e2e8f0;
  color: #1e293b;
  cursor: pointer;
}

.btn-secondary-custom:hover {
  background: #cbd5f5;
}

.option.correct {
  background-color: #d4edda;
  border: 2px solid #28a745;
}

.option.wrong {
  background-color: #f8d7da;
  border: 2px solid #dc3545;
}

.correct-answer {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}
