.box {
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-img {
    height: 15rem;
    width: 15rem;
    border-radius: 1rem;
}

.test-card {
    box-shadow: 0rem 0.7rem 1rem 0.5rem gray;
}

.test-card:hover {
    box-shadow: 0rem 0.7rem 1rem 1rem gray;
}

.card-body a {
    gap: 2rem;
    height: 35px;
}

.test-card-charc{
    display: flex;
    flex-direction: row;
    gap:2rem;
}

.student-img {
    z-index: 99;
}

#student-img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-bottom: -7rem;
    border: 0.3rem solid #5ce2e7;
}

.student-card {
    width: 18rem;
    height:24rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;

}

.student-card-desc-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.student-card-desc {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    border-top: #5ce2e7 solid 0.7rem;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    border-right: 2px solid #5ce2e7;
    border-left: 2px solid #5ce2e7;
    align-items: center;
    color: white;
    background-color: #004e70;
}

.student-card img {
    height: 12rem;
    width: 100%;
}