.test-main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.tests-main-up{
    background-image: url("../../assets/images/test-background.avif");
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 300px;
}
.tests-main-mid{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
}
.tests-main-down{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.tests-main-down-up{
    display: flex;
    gap: 3rem;
    
}
.tests-main-down-down{
    display: flex;
    gap:3rem;
}
    
.tests-main-down-up-land {
    display: flex;
    flex-direction: column;
}

.tests-main-down-up-top, .tests-main-down-up-down {
    display: flex;
    gap: 3rem;
}