.test-card-main{
    height: 300px;
    width:300px;
    gap: -1rem;
}
.card-body h5{
    display: flex;
    margin-bottom: 1rem;
}
.card-body a {
    gap: 2rem;
    height: 35px;
    margin-bottom: -12px;
}
.test-card-charc{
    display: flex;
    flex-direction: row;
    gap:2rem;
    margin-top: -4px;
}